
$o-chart-hierarchy-bg: white !default;
$o-chart-hierarchy-border-color: $o-brand-secondary !default;

$o-gray-100: #f8f9fa !default;
$o-gray-200: #e9ecef !default;
$o-gray-300: #dee2e6 !default;
$o-gray-400: #ced4da !default;
$o-gray-500: #adb5bd !default;
$o-gray-600: #6c757d !default;
$o-gray-700: #495057 !default;
$o-gray-800: #343a40 !default;
$o-gray-900: #212529 !default;

$o-brand-light600: $o-gray-600 !default;

$o-chart-hierarchy-entry-v-gap: 6px !default;
$o-chart-hierarchy-entry-pic-size: 46px !default;
$o-chart-hierarchy-entry-line-w: 1px !default;
$o-chart-hierarchy-entry-border-color: darken($o-chart-hierarchy-bg, 25%) !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-11:        11px !default;
$font-size-13:      13px !default;
// MIXINS
@mixin o-chart-hierarchy-line {
    content: "";
    background-color: $o-chart-hierarchy-bg;
    border: 0px solid $o-chart-hierarchy-entry-border-color;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
  @include deprecate("`size()`", "v4.3.0", "v5");
}
@mixin font-size($value) {
  @include rfs($value);
}